{% extends 'base.html.twig' %}

{% block title %}ajout{% endblock %}

{% block body %}
    <div id="listes">
        <h2>Personnels :</h2>
        <a href="">Ajouter un personnel</a>
        <div id="utilisateursListes">
            {% for u in listeUtilisateurs %}
                <ul>
                    <li>
                        <p>{{ u.nom }} {{ u.prenom }}, {{ u.email }}</p><a href="{{ path('accueil_supprimerU', {'utilisateur': u.id}) }}">Supprimer</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <h2>Formations :</h2>
        <a href="">Ajouter une formation</a>
        <div>
            {% for f in listeFormations %}
                <ul>
                    <li>
                        <p>{{ f.nom }}</p><a href="{{ path('accueil_supprimerF', {'formation': f.id}) }}">Supprimer</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
