<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
    </head>
    <body>
    <img src="{{ asset('media/CMFP.png') }}" id="logoCMFP">
    <img src="{{ asset('media/DEF_MOB.png') }}" id="logoDEFMOB">
    <h1>Décompte rationnaire</h1>
        {% block body %}
            <ul>

                <li> <a href="{{ path('accueil_affichage') }}">Affichage</a></li>
                {% if app.user %}
                    <li> <a href="{{ path('app_logout') }}">DECONNECTION</a></li>

                {% endif %}
                {% if not app.user %}
                    <li><a href="{{ path('app_login') }}">Se Connecter</a></li>

                {% endif %}
            </ul>

        {% endblock %}
    </body>
</html>
