<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
    <header id="header">
        <img src="{{ asset('media/CMFP-removebg-preview.png') }}" id="logoCMFP" height="50em" >
        <h1>Décompte rationnaire</h1>
        <img src="{{ asset('media/DEF_MOB-removebg-preview.png') }}" id="logoDEFMOB" height="100em">
    </header>
    <nav>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                <li> <a href="{{ path('accueil_affichage') }}">Affichage</a></li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('accueil_listeUtilisateursFormations') }}">Gestion</a></li>
            {% endif %}
            {% if is_granted('ROLE_UTILISATEUR') %}
                <li><a href="{{ path('app_reservation') }}">Réservation</a></li>
            {% endif %}
            {% if app.user %}
                <li> <a href="{{ path('app_logout') }}">Déconnection</a></li>
            {% endif %}
            {% if not app.user %}
                <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
            {% endif %}
        </ul>
    </nav>


        {% block body %}



        {% endblock %}
    </body>
</html>
